@font-face {
    font-family: Baron;
    src: url("../fonts/Baron Neue.otf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
	font-family: Roboto;
	color: #555;
	background-color: #ECEFF1;
  	padding-top: 50px;
}

hr {
	border-top: rgb(210, 209, 209) 1px solid !important;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.font-baron {
    font-family: Baron;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px #e7e7e7 solid;
  color: #888;
}

.container .text-muted {
  margin: 20px 0;
}

/* COLOR LIBRARY */
.color-light-gray {
	color: #90A4AE !important;
}

.color-white {
	color: #fff;
}

/* BOOTSTRAP OVERRIDER */
.btn-primary {
	background-color: #0288D1;
	border-color: #0277BD;
	border-radius: 4px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus  {
	background-color: #039BE5 !important;
	border-color: #0277BD !important;
	border-radius: 4px;
}

.btn-success {
	background-color: #0097A7;
	border-color: #00838F;
	border-radius: 4px;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
	background-color: #00ACC1 !important;
	border-color: #00838F !important;
	border-radius: 4px;
}

.pager li > a {
	padding: 10px 30px;
    border-radius: 0px;
    font-size: 18px;
    color: #0288D1;
    font-weight: 700;
}

.no-padding {
	padding: 0 !important;
}

.border-box {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.row-flex {
	display: -webkit-flex;
	display: flex;
}

@media (min-width: 780px) {
	.row-flex-md {
		display: -webkit-flex;
		display: flex;
	}
}

.no-margin {
	margin: 0 !important;
}

.no-right-margin {
	margin-right: 0 !important;
}

.max-height {
	height: 100% !important;
}

.full-height {
	height: 100vh !important;
}

/* WELCOME MESSAGES */

.or-signup {
    margin: auto;
    text-align: center;
    color: #bbb;
}

.margin-auto {
	margin: auto;
}

.logo-welcome {
	text-align: center;
}

.logo-slogan {
	font-family: Baron;
	font-size: 20px !important;
	color: #757575;
	margin-bottom: 15px !important;
}

.huge-logo {
	color: #555;
	font-family: Baron;
	font-size: 100px;
}

@media (max-width: 780px) {

	.logo-slogan {
		font-size: 20px;
	}

	.huge-logo {
		font-size: 80px;
	}

}

.logo-tiny-slogan {
	font-family: Baron;
	font-size: 15px !important;
	color: #757575;
	margin-bottom: 35px !important;	
}

.tiny-logo {
	font-family: Baron;
	font-size: 30px;	
	font-weight: 700;
}

@media (min-width: 780px) {

	.tiny-logo {
		position: relative;
		top: -5px;
	}

}

.name-fixer {
	margin-left: 0px;
	margin-right: 0px;
}

/* MODAL OVERRIDE */

.modal-header.black-background {
	background-color: #e7e7e7;
	color: #313131;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-footer.black-background {
	background-color: #e7e7e7;
	color: #313131;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.modal-content {
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.blurred {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}

/* HOME */

.box {
	margin: 15px;
	min-width: 10px;
	min-height: 10px;
	background-color: white;

	border: 1px #e7e7e7 solid;
	padding: 15px;
}

.timeline_status > .container,
.search_result > .container {
	width: 100%;
}

.timeline_status > .container > .row,
.search_result > .container > .row {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.timeline_status .profile_picture {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.timeline_status .profile_picture img {
	width: 80px;
	height: 80px;
}

.timeline_status .name {
	padding-top: 10px;
	color: #263238;
	font-weight: 700;
	width: 100%;
	word-wrap: break-word;
}

.timeline_status .timestamp {
	font-size: 11px;
	color: #B0BEC5;
}

.timeline_status .content {
	padding-top: 10px;
	color: #78909C;
	width: 100%;
	padding-bottom:10px;
	word-wrap: break-word;
}

/* PROFILE */
.light-gray {
	background-color: #90A4AE;
}

.profile_picture {
	padding-top: 25px;
	padding-bottom: 15px;
}

.profile_picture img {
	width: 200px;
	height: 200px;
	border-radius: 150px;

	background-color: white;
	border: 1px #e7e7e7 solid;
	padding: 5px;
}

.little img {
	width: 100px !important;
	height: 100px !important;
}

.profile_name {
	font-size: 26px;
	font-family: Baron;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.07);
	color: #FFF;
	text-align: center;
	padding-bottom: 15px;
	margin-top: 0px;
	display: block;
}

@media (min-width: 780px) {
	.profile_name {
		font-size: 36px;
	}
}

.profile_birthday {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.07);
	color: #FFF;
	text-align: center;
	padding-bottom: 15px;
}

.profile_birthday > .bday_date {
	top: 5px;
    position: relative;
}

.profile_buttons {
	padding-top: 15px;
	padding-bottom: 15px;
}

.box.basic_info {
	margin-left: 0px !important;
}

.basic_info_element {
	color: #747474;
}

.basic_info_value {
	color: #5D5D5D;
	font-weight: 700;
}

@media (max-width: 991px) {
	.bacic_info_row {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/* SEARCH RESULT */
.search_result:hover {
	background-color: #f7f7f7;
}

.search > .name {
	font-size: 25px;
}

.search > .username {
	font-size: 14px;
	font-weight: 0;
	color: #B0BEC5;
}

.search > .email {
	color: #78909C;
}

.picture-thumbnail img {
	width: 100px;
	height: 100px;
	border-radius: 150px;
}

@media all and (max-width:780px) {
	.hidden-when-small {
		display: none;
	}
}

@media all and (max-width:380px) {
	.hidden-when-tiny {
		display: none;
	}
}

/* ADMIN CRUD */
@media all and (min-width:991px) {
	.pc-button {
		width: 100%; 
		display:block;
		margin: 5px;
	}
}

@media all and (max-width:991px) {
	.mobile-padding {
		padding-top: 15px;
	}
}